#search-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: "nato", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  #search-results {
    display: flex;
    flex-direction: column;
    background: #31353a;

    #search-result-summary {
      display: flex;
      width: 400px;
      background: black;
      color: white;
      font-size: 9pt;
      padding: 10px;
      text-align: left;
      #search-term {
        justify-content: flex-start;
        flex-grow: 1;
      }
      #result-count {
        justify-content: flex-end;
      }
    }

    #search-result-items {
      display: flex;
      flex-direction: column;
      padding: 0 10px 10px 10px;
      color: #e8e8e8;

      .search-result {
        font-size: 10pt;
        text-align: left;
        margin-top: 5px;
        padding: 5px;
        background: #595d61;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        &:hover {
          background: #616569;
          cursor: pointer;
        }

        .search-result-header {
          font-size: 11pt;
          margin-bottom: 4px;
          font-weight: bold;
        }

        .search-result-segment {
          display: flex;
          flex-direction: row;
          border-top: 1px solid #6b6e73;
          padding: 2px 0 2px 0;

          em {
            color: #3f96ff;
            font-weight: bold;
            font-style: normal;
          }

          .excerpt {
            flex-grow: 1;
          }

          .time-range {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .details {
    flex-grow: 1;
    padding: 1em;
    color: #535353;
    overflow-y: scroll;
    text-align: left;

    h3 {
      margin-top: 0;
    }

    .box {
      background: white;
      text-align: left;
      padding: 10px;
      margin-bottom: 1em;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      .box-header {
        font-weight: bold;
        padding-bottom: 0.5em;
      }
    }
  }
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
